
<div class="container container-shadow" style="padding:15px; border: solid 1px #428bca;	background-color:#fff;">
	<div class="row" style="padding:15px;">
	  <div class="col-xs-12 col-md-8">

		<%= render :partial => "layouts/form" %> 
	
	  </div>
	  <div class="col-xs-6 col-md-4">
	  	<div>
	  		<div class="page-header">
   			   <h3 id="forms"><span class="fa fa-hand-o-right"></span> Tips to post</h3>
    		</div>
	  	</div>
	  </div>
	</div>
</div>