<div class="container">
  

<div class="center-of-page">
  <div class="row">
    <div class="col-xs-6 col-sm-4">&nbsp;</div>
    <div class="col-xs-6 col-sm-4">
        <form class="form-inline form-square" role="form">
        <h3><span class="fa fa-bell" ></span> Kuviyal</h3>
        <h4>One stop for all events.</h4>
          <div class="input-group">
            <input type="text" class="form-control"  id="searchBox" placeholder= "Search by title E.g. Olympics 2016" >
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">Go!</button>
                </span>
          </div>
        </form>
    </div>
    <!-- Optional: clear the XS cols if their content doesn't match in height -->
    <div class="clearfix visible-xs"></div>
    <div class="col-xs-6 col-sm-4">&nbsp;</div>
  </div>
</div> <!-- /center-of-page  -->

</div>  <!-- / container -->


