<div class="container">
  <div class="row">

    <div class="col-xs-12 col-md-4 rgap">
      <div class="box one">
         <div class="row rgap" style="padding-top:5px;">
        <div class="col-xs-12 col-md-12 rgap heading">
          <h1>International Conference on Tourism and Hospitality Management</h1>
        </div>
       </div>     
        <div class="sexy_line"></div>
        <div class="row rgap" style="padding-top:5px;">
            <div class="col-xs-4 col-md-4 rgap">
            <span class="fa fa-bell-o"></span>&nbsp;&nbsp;Category
          </div>
          <div class="col-xs-4 col-md-4 rgap">
            <span class="fa fa-calendar-o"></span>&nbsp;&nbsp;Start Date
          </div>
          <div class="col-xs-4 col-md-4 rgap">
            <span class="fa fa-calendar-o"></span>&nbsp;&nbsp;End Date
          </div>
          <div class="col-xs-4 col-md-4 rgap">
            <small>Conference</small>
          </div>          
          <div class="col-xs-4 col-md-4 rgap">
            <small>25 Jan 2014</small>
          </div>
          <div class="col-xs-4 col-md-4 rgap">
            <small>25 Jan 2014</small>
          </div>
        </div>
       <div class="sexy_line"></div>
       <div class="row rgap" style="padding-top:5px;">
        <div class="col-xs-4 col-md-4 rgap">
          <div title="location">
            <span class="fa fa-map-marker"></span>&nbsp;&nbsp;Map
          </div>
        </div>            
        <div class="col-xs-4 col-md-4 rgap">
          <div title="Organizer">
            <span class="fa fa-bullhorn"></span>&nbsp;&nbsp;Organizer           
          </div>
        </div>
        <div class="col-xs-4 col-md-4 rgap">
          <div title="location">
            <span class="fa fa-hand-o-right"></span>&nbsp;&nbsp;View
          </div>
        </div>  
        <div class="col-xs-4 col-md-4 rgap">
          <div title="location">
            <small>City,Country</small>
          </div>
        </div>            
        <div class="col-xs-4 col-md-4 rgap">
          <div title="Organizer">
            <small>unknown</small>
          </div>
        </div>
        <div class="col-xs-4 col-md-4 rgap">
          <div title="Organizer">
            <small>254</small>
          </div>
        </div>
         </div>
       <div class="sexy_line"></div>
       <div class="row rgap" style="padding-top:5px;">
        <div class="col-xs-4 col-md-4 rgap">
          <div title="location">
            <span class="fa fa-comments-o"></span>&nbsp;&nbsp;Share
          </div>
        </div>            
        <div class="col-xs-4 col-md-4 rgap">
          <div title="Organizer">
            <span class="fa fa-calendar"></span>&nbsp;&nbsp;Add           
          </div>
        </div>
        <div class="col-xs-4 col-md-4 rgap">
          <div title="location">
            <span class="fa fa-sign-in"></span>&nbsp;&nbsp;More
          </div>
        </div>  
        <div class="col-xs-4 col-md-4 rgap">
          <div title="location">
            <small><span class="fa fa-facebook"></span></small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <small><span class="fa fa-twitter"></span></small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <small><span class="fa fa-google-plus"></span></small>&nbsp;&nbsp;
          </div>
        </div>            
        <div class="col-xs-4 col-md-4 rgap">
          <div title="Organizer">
            <small>To my calendar</small>
          </div>
        </div>
        <div class="col-xs-4 col-md-4 rgap">
          <div title="Organizer">
            <small>Details</small>
          </div>
        </div>
         </div>      
      </div>
    </div>

 </div> <!-- /-row -->
</div> <!-- /-container -->