<div class="search-warpper">
<div class="container">
	<div class="row">
	  <div class="col-xs-2">&nbsp;</div>
	  <div class="col-xs-8">
		<!--search form-->
		<form class="form-inline form-square" role="form">
				  <div class="input-group">
					<input type="text" class="form-control" id="searchBox" placeholder="Search by place E.g. @Chennai">
						<span class="input-group-btn">
							<button class="btn btn-primary" type="button"><span class="fa fa-bell"></span></button>
						</span>
				  </div>
		</form>
		<!--/search form-->          
	  </div>
	  <div class="col-xs-2">&nbsp;</div>  
	</div>
</div>	
</div>